﻿@model CareOfPatient.WebUI.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>

        <div class="panel">
            <h1 style="color:dodgerblue;">Patient Care &reg;</h1>
            <div class="panel-heading">
                <h3>Zaloguj się</h3>
            </div>
            <div class="panel-body ">

                @using (Html.BeginForm())
            {
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <label>Nazwa użytkownika:</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Hasło:</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <input type="submit" value="Zaloguj się" class="btn btn-primary" />
                }
            </div>
        </div>

</body>
</html>
