﻿@model CareOfPatient.Domainn.Entities.Bed

<h2>Szczegóły</h2>


<h2>Pokój: @Model.Room Łóżko: @Model.BedName</h2>

    Parametry:

<p class="text-primary">Ciśnienie nieinwazyjnie: @Model.PressureS / @Model.PressureR</p>
<p class="text-primary">HR: @Model.Pulse</p>

@if (Model.Status == true)
{
    <p class="text-danger">Wymaga pomocy!!!</p>
}
else
{
    <p class="text-success">Stan stabilny</p>
}


<div id="myChart"></div>

<script type="text/javascript"></script>