﻿@model IEnumerable<CareOfPatient.Domainn.Entities.Bed>


@foreach (var item in Model)
{
    if (item.Status == true)
    {
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Alarm!</strong> Łóżko @item.BedName Pokój @item.Room.
        </div>}
}

<table id="tablePatient" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Akcja
            </th>
            <th>
                ID
            </th>
            <th>
                Łóżko
            </th>
            <th>
                Pokój
            </th>
            <th>
                Ciśnienie skurczowe
            </th>
            <th>
                Ciśnienie rozkurczowe
            </th>
            <th>
                Puls
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status == true)
            {


                <tr class="danger">
                    <td>
                        @Html.ActionLink("Szczegóły", "Detail", "Home", new { id = item.BedID }, null)
                    </td>
                    <td>
                       @item.BedID
                    </td>
                    <td>
                        @item.BedName
                    </td>
                    <td>
                        @item.Room

                    <td>
                        @item.PressureS
                        <script type="text/javascript">

                            alarmSystem();

                        </script>
                    </td>
                    <td>
                        @item.PressureR
                    </td>
                    <td>
                        @item.Pulse
                    </td>
                    
                </tr>
                        

            }
            else
            {
                <tr class="success">
                    
                    <td>
                        @Html.ActionLink("Szczegóły", "Detail", "Home", new { id = item.BedID }, null)
                    </td>
                    <td>
                        @item.BedID
                    </td>
                    <td>
                        @item.BedName
                    </td>
                    <td>
                        @item.Room

                    <td>
                        @item.PressureS

                    </td>
                    <td>
                        @item.PressureR
                    </td>   
                    <td>
                        @item.Pulse
                    </td>

                </tr>
            }
                            
        }
    </tbody>

</table>

