﻿@model CareOfPatient.Domainn.Entities.Bed

@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

</br>

@using (Html.BeginForm("Update", "Home"))
{
    <div class="form-group">
       <h1 class="text-info">Łóżko: @Model.BedName Pokój: @Model.Room</h1> 

    </div>

    <div class="checkbox">
        @Html.CheckBoxFor(m => m.isFree,new { @class= ".checkbox-primary .checkbox-circle" }) Dostępność
    </div>

        @Html.HiddenFor(m => m.BedID)

    <button type="submit" class="btn btn-primary">Zapisz</button>
}
