﻿@model IEnumerable<CareOfPatient.Domainn.Entities.Bed>
@{
    ViewBag.Title = "BedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="tablePatient" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Akcja
            </th>
            <th>
                ID
            </th>
            <th>
                Łóżko
            </th>
            <th>
                Pokój
            </th>
            <th>
                Dostępność
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr >
                    <td>
                        @Html.ActionLink("Zmień", "AdminPanel", "Home", new { id = item.BedID }, null)
                    </td>
                    <td>
                        @item.BedID
                    </td>
                    <td>
                        @item.BedName
                    </td>
                    <td>
                        @item.Room
                    <td>
                        @if (item.isFree == false)
                        {
                            <p style="color:red;">Zajęte</p>
                        }
                        else
                        {
                            <p style="color:green;">Wolne</p>
                        }</td>   
                </tr>
        }
    </tbody>

</table>

