﻿

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="detail">
    
    @Html.Partial("_Bed")

</div>


@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Scripts/ownScript.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js "></script>


    <script type="text/javascript">

        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.dataHub;

            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateData = function () {
                getData()

            };

            $.connection.hub.stop()

            // Start the connection.
            $.connection.hub.start().done(function () {
                getData();
            }).fail(function (e) {
                alert(e);
            });

        });

       
    function getData() {
        var tbl = $('#detail');
        var id = @Html.Raw(Json.Encode(Model.BedID));

        $.ajax({
            url: '/Home/GetMessage/' + id,
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html'
        }).success(function (result) {
            tbl.empty().append(result);

        }).error(function () {

            });


    }

    </script>

}