﻿
@{
    ViewBag.Title = "Monitor";
}

<div class="row">
    <div class="col-md-12">
        <div id="dataTable">

        </div>
    </div>
</div>


@section Scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>    
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/Scripts/ownScript.js"></script>
<script src="/signalr/hubs"></script>



<script type="text/javascript">


    function alarmSystem() {
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function () { div.style.display = "none"; }, 600);
            }
        }}


    $(function () {
        // Declare a proxy to reference the hub.
        var notifications = $.connection.dataHub;

        //debugger;
        // Create a function that the hub can call to broadcast messages.
        notifications.client.updateData = function () {
            getAllData()

        };

        $.connection.hub.stop()

        // Start the connection.
        $.connection.hub.start().done(function () {
            getAllData();
        }).fail(function (e) {

            });

    });


    function getAllData() {
        var tbl = $('#dataTable');

        $.ajax({
            url: '/Home/GetMessage/',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html'
        }).success(function (result) {
            tbl.empty().append(result);

        }).error(function () {

            });


    }

</script>

}
